In [1]:
top_cities = ['NY','Washington','Chicago','Houston','Phoenix']
top_cities

['NY', 'Washington', 'Chicago', 'Houston', 'Phoenix']

In [2]:
top_cities[0]

'NY'

In [3]:
top_cities[-2]

'Houston'

In [4]:
top_cities[0:2]

['NY', 'Washington']

In [10]:
top_cities[2:-1]

['Chicago', 'Houston']

In [11]:
top_cities[:3]

['NY', 'Washington', 'Chicago']

In [12]:
del top_cities[2]
top_cities

['NY', 'Washington', 'Houston', 'Phoenix']

In [15]:
del top_cities[2:]
top_cities

['NY', 'Washington']

In [16]:
del top_cities[:] #-- This deletion will keep the empty list intact
top_cities

[]

In [19]:
top_cities = ['NY','Washington','Chicago','Houston','Phoenix']
del top_cities #-- This deletion will keep the delete the list as well as the variable
top_cities

NameError: name 'top_cities' is not defined

In [23]:
book_ratings = [3,2,3,1]
book_ratings.append(8)
book_ratings.insert(4,0)
book_ratings

[3, 2, 3, 1, 0, 8]

In [28]:
top_cities = ['NY','Washington','Chicago','Houston','Phoenix']
for cities in top_cities:
    print(cities)

for city_index in range(len(top_cities)):
    print(city_index , ':' , top_cities[city_index])

NY
Washington
Chicago
Houston
Phoenix
0 : NY
1 : Washington
2 : Chicago
3 : Houston
4 : Phoenix

In [29]:
#-- Swapping values
a = 10
b = 20
print(a,b)
a,b = b,a
print(a,b)

10 20
20 10

In [30]:
print(top_cities)
top_cities[2],top_cities[3] = top_cities[3], top_cities[2]
print(top_cities)

['NY', 'Washington', 'Chicago', 'Houston', 'Phoenix']
['NY', 'Washington', 'Houston', 'Chicago', 'Phoenix']

In [33]:
top_cities.sort() #-- Alphabetical or Numerical Sort
top_cities

['Chicago', 'Houston', 'NY', 'Phoenix', 'Washington']

In [35]:
top_cities.sort(reverse=True)
top_cities

['Washington', 'Phoenix', 'NY', 'Houston', 'Chicago']

In [37]:
#-- For temporary sorted lists
top_cities = ['NY','Washington','Chicago','Houston','Phoenix']
print(sorted(top_cities)) #-- Keeps the original list intact
print(top_cities)

['Chicago', 'Houston', 'NY', 'Phoenix', 'Washington']
['NY', 'Washington', 'Chicago', 'Houston', 'Phoenix']

In [38]:
#--- Checking for Elements in a List
if 'NY' in top_cities: print(True)

True

In [39]:
#--- Data Copying
name1 = 'AD'
name2=name1
name1 = 'XY'
print(name1,' ',name2)

XY   AD

In [44]:
#-- For complex datatypes the name of the list does not point to the actual value, however they point it
#-- Via reference which is why any variable created from the original will point to the same reference
list1 = [1,2,3,4,5,6]
list2 = list1
list1[0] = -5

print(list1)
print(list2)

[-5, 2, 3, 4, 5, 6]
[-5, 2, 3, 4, 5, 6]

In [45]:
#--- Data Copy for List
list1 = [1,2,3,4,5,6]
list2 = list1[:]
list1[0] = -5
print(list1)
print(list2)

[-5, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [46]:
#--- Data Copy for List
list1 = [1,2,3,4,5,6]
list2 = list1.copy()
list1[0] = -5
print(list1)
print(list2)

[-5, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [47]:
#--- List Comprehensions

numbers = []
numbers = [i for i in range(100)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [48]:
#--- List Comprehensions

numbers = []
numbers = [i for i in range(100) if i%3 == 0]
print(numbers)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [50]:
#--- Nested lists
cells = [['A1','A2'],['B1','B2']]
cells[0]

['A1', 'A2']

In [52]:
cells[0][1]

'A2'

In [53]:
for x in cells: 
    for i in x : print(i)

A1
A2
B1
B2

In [60]:
table = [ [i for i in range(1,6)] for j in range(4)] #--2D List
table

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [61]:
list_us = ['NY','Washington']
list_uk = ['London','Barcelona']
list_all = list_uk + list_us
list_all

['London', 'Barcelona', 'NY', 'Washington']

In [62]:
list_uk * 2

['London', 'Barcelona', 'London', 'Barcelona']

In [63]:
#-- String Features
name = 'Arnab'
name[2]

'n'

In [64]:
name.upper()

'ARNAB'

In [65]:
name.capitalize()

'Arnab'

In [66]:
name.casefold()

'arnab'

In [67]:
name.isnumeric()

False

In [68]:
#--- Tuple

empty_tuple = ()
one_tuple = (1,) #--- The comma is mandatory for 1 element
three_tuple = (1,2,3)

print(one_tuple)
print(three_tuple)

(1,)
(1, 2, 3)

In [70]:
one_tuple = 1,
one_tuple

(1,)

In [72]:
#-- Tuples are immutable like string
print(three_tuple[0])
three_tuple[0] = 1

1

TypeError: 'tuple' object does not support item assignment

In [73]:
#--Tuple operations
print(len(three_tuple))
print(1 in three_tuple)

3
True

In [74]:
three_tuple = three_tuple + (4,5)
three_tuple

(1, 2, 3, 4, 5)

In [76]:
three_tuple * 2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [78]:
#--- Lists can be put into tuple elements and also the other way around
user_data = ('John','American',[77,82,91])
user_data[2].append(88) #-- If a tuple contains any data type which is mutable it will allow alteration to that element
user_data

('John', 'American', [77, 82, 91, 88])

In [79]:
#--- Dictionaries

food = {'breakfast':'oats','lunch':'Chicken','dinner':'salad'}
food

{'breakfast': 'oats', 'lunch': 'Chicken', 'dinner': 'salad'}

In [80]:
food['lunch']

'Chicken'

In [82]:
#--- Key of a dictionary only can be immutable
grades = {}
grades['John'] = 'A-'
grades['Anne'] = 'B+'
grades

{'John': 'A-', 'Anne': 'B+'}

In [83]:
#updating/deleting
grades['Anne'] = 'A'
grades.update({'John':'A'})
grades

{'John': 'A', 'Anne': 'A'}

In [84]:
len(grades)
if 'John' in grades: print('Present')

Present

In [85]:
del grades['John']
grades

{'Anne': 'A'}

In [87]:
grades = {}
grades['John'] = 'A-'
grades['Anne'] = 'B+'

for el in grades:
    print(el)

for el in grades.keys():
    print(el)

for el in grades.values():
    print(el)

for key,value in grades.items():
    print(key,value)

John
Anne
John
Anne
A-
B+
John A-
Anne B+