In [1]:
print('Hello World')

Hello World

In [2]:
print('I\'m studying Python')

I'm studying Python

In [3]:
print('Hi','Hello')

Hi Hello

In [4]:
print('I\'m studying \n Python')

I'm studying
 Python

In [5]:
greeting = 'Hello, Friend!'
print(greeting)

Hello, Friend!

In [6]:
greeting = 'Hi, everybody'
print(greeting)

Hi, everybody

_correctName  
correctName  
correctName89  
89Correct -- Incorrect variable name

greeting and greeting are 2 seperate variables

In [9]:
name = "Arnab" #String variable
age = 35 #Integer Variable
speed = 4.5 #Float
speed2 = 4. #Float

print(speed,'\n',speed2)

4.5
 4.0

In [10]:
value = True #Boolean --

By Convention  
1 = True  
0 = False

In [14]:
#Single Line Comment
""" Multi Line Comment
1
2
"""

' Multi Line Comment\n1\n2\n'

In [15]:
#Underscores in numbers 

1200301
12_000_300 #We can use underscore in numbers which will not change the readability of the number

12000300

In [16]:
#Scientific Notations
#3e4 = 3E4 = 3*10000 = 30000
#3e-4 = 3E-4 = 3*1/10000 = 0.003
print(0.00000000000000000003)

3e-20

In [17]:
#Octal Numbers (0-7)
#starts with 0O or 0o
print(0o123)

83

In [19]:
#HexaDeciman Numbers
#starts with 0X or 0x
print(0x123)

291

In [20]:
#Operators

2 + 3

5

In [21]:
5-4

1

In [22]:
3*5

15

Division is represented by 3 different operators  
/ - Standard Division   -- Always outputs a float  
// - Integer Division   -- Nearest lowest whole number rounded down  .  Always outputs a Integer   
% - Modulus  --- Remainder of the division.  Always outputs a Integer

In [23]:
6/2

3.0

In [24]:
7/2

3.5

In [25]:
7//2

3

In [3]:
1%2
1%100
2%3

2

In [26]:
7%2

1

In [27]:
3/0 #-- Will yield a ZeroDivisionError

ZeroDivisionError: division by zero

In [28]:
# Power operator
2**3

8

In [29]:
2+3

5

In [30]:
2+3.0

5.0

In [31]:
3.9+2.9

6.8

In [32]:
7%16

7

In [33]:
age = 28
age = age + 7

In [34]:
age

35

In [35]:
age = age + 2.0

In [36]:
age

37.0

In [37]:
age += 7

In [38]:
age

44.0

In [39]:
age-=5
age

39.0

In [40]:
age /=3
age

13.0

In [42]:
text = 'Arnab' + 'Dutta' #String Concatenation
text

'ArnabDutta'

In [44]:
print('hello'*5)

hellohellohellohellohello

In [50]:
#--- INPUT Function
#--- INPUT Function always returns a string value
print('What is Your Name')
user_name = input()
print('Hello ',user_name)

What is Your Name
Hello  hi

In [49]:
user_name = input('What is your name?')
print('hello ,',user_name)

hello , Dutta